#results {
	height: 0px;
	background-color:rgba(26,27,38, 0.6);
	width: calc(100% -2px);
	transition: all 0.5s ease;
	overflow-y: scroll;
	overflow-x: none;
	border: solid rgb(26,27,38) 2px;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.result {
	color: white;
	width: 100%;
	font-size: 1.3em;
	padding: 10px;
	height:28px;
}

#searchContainer.active {
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}