#commandArea{
  background: #25273c;
  padding: 30px;
  margin: 10px;
  border-radius: 5px;
}

#newCommand, #newCommandAction {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border:solid 1px rgba(255,255,255, 0.6);
  color: white;
}

#newCommand {
  width: 50%;
  padding: 10px;
  font-size: 1.5em;
}

#newCommandAction {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 7px;
  font-size: 1.2em;
}
#newCommandType {
  margin-left: 20px;
  font-size: 1.2em;
  -webkit-appearance: menulist-button;
  height: 30px;
  outline: none;
  margin-right: 30px;
}

#newCommandAuto {
  height: 15px;
}
