#results {
	height: 0px;
	background-color:rgba(26,27,38, 0.6);
	width: calc(100% -2px);
	transition: all 0.5s ease;
	overflow-y: scroll;
	overflow-x: hidden;
	border: solid rgb(26,27,38) 2px;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.result {
	background: rgba(255,255,255, 0);
	color: #999;
	width: 100%;
	font-size: 1.3em;
	padding: 10px;
	height:28px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.resultIcon {
	width: 30px;
	height: 30px;
	position: absolute;
}
.result .resultText {
	padding-left: 40px;
}
.result:hover, .selected {
	background: rgba(255,255,255, 0.8);
	color: black;
}
.result:hover .highlight, .selected .highlight{
	color: #444 !important;
}

#searchContainer.active {
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.highlight {
	color: white;
}
