<div class="title">Custom Commands</div>

<div class="description">
  From here you can build and manage custom commands for Sebastian.
  What's the point of having a personal assistent if he doesn't do what you want?
</div>

<div id="commandArea">
  <input type="text" id="newCommand" />
  <select id="newCommandType" value="app">
    <option value="app">App</option>
    <option value="terminal">Terminal</option>
    <option value="file">File</option>
    <option value="combo">Combo</option>
  </select>
  <span style="font-size: 1.5em;">Run on startup: </span>
  <input id="newCommandAuto" type="checkbox">
  <div id="newCommandActionContainer">

  </div>
  <button id="newCommandAdd"><i class="material-icons">add_circle_outline</i></button>
  <div id="commandList">

  </div>
</div>
